<!-- views/error -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body>
<div class="maincontent">
    <header>
        <% include ./partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Error</h1>
            <p>There was an error</p>
            
        </div>
    </main>

    <footer>
        <% include ./partials/footer %>
    </footer>
</div>
</body>

</html>