<!-- views/brief/brief_profile -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
<div class="maincontent">
    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div>
            <h1><%= brief.title %></h1>
            <p><%= brief.description %></p>
            
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
</div>
</body>

</html>